%form{action: '/images/new', method: :post}
  %input#title{type: :text, name: :title, placeholder: 'title'}
  %input#title{type: :text, name: :tags, placeholder: 'tags'}
  %input#title{type: :text, name: :url, placeholder: 'url'}
  %input#file{type: :file}
  %input#hidden{type: :hidden, name: :data_uri}
  %input#submit{type: :submit, value: 'アップロード'}
  %p 画像のアップロードはFile APIに対応しているブラウザーからご利用ください。
!= will_paginate @images
%form
  %input{type: :text, name: :tags, placeholder: 'tag1 tag2', value: (@tags || []).join(Image.tags_separator)}
  %input#submit{type: :submit, value: '検索'}
%table
  %thead
    %tr
      %th title
      %th tags
      %th url
      %th image
      %th created_at
      %th updated_at
  %tbody
    - @images.each do |image|
      %tr
        %td= image.title
        %td= image.tags
        %td
          %a{href: image.url}= image.url
        %td
          %img{src: image.image_url}
        %td= image.created_at
        %td= image.updated_at
!= will_paginate @images
